<ion-view title="Profilinställningar">
<ion-content>
<div class="error">
  {{error}}
</div>
<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Visningsnamn</span>
    <input type="text" ng-model="update.name" placeholder="Kalle">
  </label>
  <div class="break-line"></div>
  <label class="item item-input item-select">
    <div class="input-label">
      Utbildning
    </div>
    <select ng-model="update.education" ng-options="item.name for
      item in educations track by item.id">
    </select>
  </label>
  <label class="item item-input item-select">
    <div class="input-label">
      Kön
    </div>
    <select ng-model="update.gender" ng-options="item for
      item in genders">
    </select>
  </label>



  <label class="item item-input item-stacked-label">
    <span class="input-label">Om mig</span>
    <textarea ng-model="update.description"></textarea>
  </label>
  <div class="col">
  <button class="button button-positive button-block" ng-click="updateProfile()">
    Uppdatera
  </button>
</div>
</div>
</ion-content>
</ion-view>
