<ion-view title="Bildinställningar">
<ion-content>
<div class="error">
  {{error}}
</div>
<div id="edit-photos">
<div class="row" ng-hide="images.length >= 7">
  <div class="col">
    <button class="button button-positive button-block" ng-click="takePhoto()">
      Ta bild
    </button> 
  </div>

  <div class="col">
    <button class="button button-positive button-block" ng-click="selectPhoto()">
      Välj bild 
    </button>
  </div>
</div>
<div class="break-line"></div>
<p ng-show="images.length == 0" class="no-images">Du har inte laddat upp några bilder än.</p>
<ul class="gallery padding">
  <li ng-repeat="image in images" ng-click="photoOptions(image.id)" ng-style="{'background-image': 'url(' +
  image.get_url + ')'}">
  </li>
</ul>
</div>
</ion-content>
</ion-view>
