<ion-view view-title="Profilinställningar">
<ion-content>
{{error}}
<div class="list">
  <label class="item item-input item-select">
    <div class="input-label">
      Utbildning
    </div>
    <select ng-model="update.education" ng-options="item.name for
      item in educations track by item.id">
    </select>
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Om mig</span>
    <textarea ng-model="update.description"></textarea>
  </label>
  <button class="button button-positive button-block" ng-click="updateProfile()">
    Uppdatera
  </button>
</div>
</ion-content>
</ion-view>
