<ion-view title="Hitta Personer">
<ion-content>
<div class="matches">
  <div ng-show="matches.length == 0" class="no-match padding">
    <p class="no-match">Vi lyckas inte hitta några matchningar just nu, kom tillbaka senare eller
    ändra dina inställningar för att utöka sökningen.</p>
    <div class="col">
      <button class="button button-positive button-block"
        ng-click="go('app/settings')">
        Inställningar
      </button>

    </div>
  </div>

  <div class="match" ng-hide="matches.length == 0">
    <ion-slide-box show-pager="true" does-continue="true" auto-play="true" on-slide-changed="slideHasChanged($index)">
    <ion-slide ng-repeat="image in matches[0].images_url">
    <img class="slider-images" ng-style="{'background-image': 'url(' + image
    + ')'}">
    </ion-slide>
    </ion-slide-box>
    <div class="edu">
      <img ng-src="{{matches[0].education.image_path}}">
    </div>
    <h3>{{matches[0].name}}</h3>
    <p class="edu-text">{{matches[0].education.name}}</p>
    <p>{{matches[0].description}}</p>
    <div class="row decide padding">
    <button class="button round red" ng-click="decline()">
      <i class="ion-close"></i>
    </button>
    <button class="button round" ng-click="approve()">
      <i class="ion-checkmark"></i>
    </button>
  </div>
  </div>

</div>
</ion-content>
</ion-view>
