<ion-view title="Matchningar">
<ion-content>
<div class="error">
  {{error}}
</div>
<div class="good-matches padding"> 
  <div ng-click="go('app/messages/'+ match.id)" class="match" ng-repeat="match
    in matches">
    <img class="slider-images" ng-style="{'background-image': 'url(' +
    getImage(match) +')'}">
    <p>{{getName(match)}}</p>
    <p ng-show="match.unread > 0" class="unread">{{match.unread}}</p>
    <i class="icon ion-chatbubbles"></i>
    <div class="break-line"></div>
  </div> 
  <button class="button button-positive button-block" ng-click="">
    Test knapp
  </button>
</div>
</ion-content>
</ion-view>
