<ion-view view-title="Profil" scroll="true">
  <ion-content>

    <div class="profile">
      <ion-slide-box auto-play="true" on-slide-changed="slideHasChanged($index)">
        <ion-slide ng-repeat="image in images">
        <img class="profile-image" ng-style="{'background-image': 'url(' + image
        + ')'}">
        </ion-slide>
        </ion-slide-box>
          <div class="break-line thick"></div>
    <div class="school-section">
      <img ng-src="{{profile.education.image_path}}">
    </div>
      <div class="info padding">
        <p class="name">{{profile.name}}</p>
        <i class="ion-university"></i>
        <h4>Utbildning</h4>
        <p>{{profile.education.name}}</p>
        <i class="ion-information-circled"></i>
        <h4>Om mig</h4>
        <p class="description">
        {{profile.description}}
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
