<ion-view view-title="Profil">
  <ion-content>

    <div class="profile">
      <img class="profile-image"
    src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/1483030_10204500224600786_5797545058229427005_n.jpg?oh=c859bf8a21ecb7d9d8e8d9f8b0d9e466&oe=558A67E9&__gda__=1431226320_6b1864eafca1e387bd7044aa27db77a9"
    :w
    >
    <div class="break-line thick"></div>
    <div class="school-section">
      <img src="http://i.imgur.com/YYzC0HE.png">
    </div>
      <div class="info padding">
        <p class="name">{{name}}</p>
        <i class="ion-information-circled"></i>
        <h4>Om mig</h4>
        <p class="description">
          Lorem Ipsum är en utfyllnadstext från tryck- och förlagsindustrin. Lorem ipsum har varit standard ända sedan 1500-talet, när en okänd boksättare tog att antal bokstäver och blandade dem för att göra ett provexemplar av en bok. Lorem ipsum har inte bara överlevt fem århundraden, utan även övergången till elektronisk typografi utan större förändringar.
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
